:root{
    --main-bg:#4398bd;
    --dark-background:#1d5f7c;
    --header-color:#04691d;
    --header-color-light:#bbf1a0;
    --brown-border-color: #9e573a;
    --silver-border:silver double 2px;

}

html{
    width: 100%;
    min-height:max(100%,720px);
    margin: 0;
    padding: 0;
    font-size: 12pt;
    scrollbar-gutter: stable; /* Reserves space for the scrollbar */
    overflow-y: auto; /* Ensures a scrollbar is always available */
}

body {
    width: 100%;
    min-height: max(100%,720px);
    margin-left: -3px;
    padding: 0;
    background:var(--main-bg);
    align-items: center;
    display: grid;
    grid-template-columns: clamp(40%,750px,50%) 1fr;
    }

    
input{
    border-radius: 15px;
    border: solid 0px;
    width: 19vmax;
    }

#leftSidebar{
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 50%));
    }

.queue{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width:100%;
    height: 100%;
    align-items: center;
    }

.queue>h1{
    color: var(--header-color);
    text-shadow: 0px 0px 3px var(--header-color-light);
    text-align: center;   
    margin: 0px 0px 10px 0px;
    }

.queue:hover{
    background-color:var(--dark-background);
    }

.queue:hover>h1{
    color:var(--header-color-light)
    text-shadow: 0px 0px 2px #04691d;
    }

/*This is the CSS for the Queue Cards*/
.card{
    padding: .75rem; 
    border: solid var(--brown-border-color) 2px;
    background: #accfd5;
    border-radius: 30px;
    display: flex;
    width: min(20rem,20vw);
    flex-direction: column;
    text-align: center;
    font-size: 11pt;
    }

.card:hover{
    box-shadow: 0px 0px 2px 2px #accfd5;    
    }

.card>p{
    max-width: 20rem;
    font-size: 10pt;
    }

.promptName{
    display: flex;
    max-width:20em;
    align-items: center;
    color:ora
    }   

.promptName input{
    flex: 1;          /* Allow the input to grow and take up the remaining space */
    margin-left: 10px;
    width: 14em;     /* Prevent input from shrinking too much */
    }

#rightSidebar{
    margin-right: 2em;
    width:100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 50%));
    height:100%;
    padding-right:20px;
    }

#inputHeader{
    margin: 0px 0px 4px 0px;
    color:var(--header-color);
    text-shadow: 0px 0px 3px var(--header-color-light);
    text-align: center;   
    margin: 0px 0px 10px 0px;
    background-color: var(--main-bg);
    width: 106.5%;
    border: none;
    border-bottom: var(--silver-border);
}

.textboxes, #upperSection{
    border: var(--silver-border);
    border-top: none;
    background-color: lightblue;
    min-height:min(45%, 30rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.5rem;
    padding:1em;

    }

.textboxes>button{
    width: 6rem;
    height: 2rem;
    }

.flex-textarea{
    width: min(20rem,20vw);
    padding: 10px;
    background-color: #FFFFFF;
    min-height: 10rem;
    border: 1px solid  var(--brown-border-color);
    border-radius: 5px;
    resize: vertical; /* Optional: Allow user resizing */
    overflow-y: auto;
    box-shadow: 0px 0px 6px 2px inset var(--brown-border-color);
    }

#saveButtons{
    gap: 20px;
}

button{
    background-color: var(--header-color-light);
    color: var(--header-color)
}

#copyPrompt{
    border-radius: 10px;
    
}

#savePositive{
    border-radius: 10px 0px 0px 10px;
}

#saveNegative{
    border-radius: 0px 10px 10px 0px;
}